{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "forceAllTransforms": true,
          }
        }
      ],
      "@babel/preset-stage-2",
      "@babel/preset-react"
    ],
    "ignore": ["node_modules", "build"]
}